node_modules
dist
*.tsbuildinfo
.env
*.log
coverage
.turbo

# Prisma
prisma/migrations/**/migration_lock.toml

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker volumes
pgdata
redisdata
